/* estilos personalizados y nuevos */
.btn-reserva {
  width: 100%;
  border-radius: 0px; }

.card-hotel {
  flex: 1 200px;
  /* dimenciones de cada flex */
  /* padding: 0px 0px 0px 0px;*/
  margin-top: 20px; }

footer {
  padding: 30px 10px 0 10px;
  /* incluir margenes con SASS */
  margin-top: 10px;
  margin-bottom: 0px;
  /*margin-top: 10px;
    margin-bottom: 0px;*/
  background-color: #e9ecef; }

.jumbotron {
  margin-top: 3rem;
  background-color: #CC3300; }

.contenido-sep {
  margin-top: 5rem; }

.footer-icon-sep {
  padding-right: 10px; }

/* iconos sociales */
.footer-icon-face {
  color: blue; }

.footer-icon-twitter {
  color: #00a6e9; }

.footer-icon-insta {
  color: #c61f53; }

.footer-icon-google {
  color: #d64a37; }

.oi-star-amarillo {
  color: burlywood; }

.text-muted {
  padding-bottom: 5px; }

.btn-primary {
  background-color: cornflowerblue; }

.banner {
  background-image: url("/img/banner.jpg");
  color: black;
  padding: 20px 20px 100px 20px;
  margin-bottom: 30px; }

.table-responsive {
  padding-top: 10px; }

.accordion {
  padding-top: 10px; }

/* para seccion boletin */
.btn-boletin {
  width: 100%;
  border-radius: 0px; }
